/*
 * Button styles
 *
 **/

.btn-primary {
  font-size: 2rem;
  width: 10rem;
  background-color: $project-color-primary !important;
}

.btn-primary:hover {
  background-color: $project-color-primary-hover !important;
}

.login-btn,
.register-btn:hover {
  color: $project-color-primary;

  &:hover {
    color: $project-color-secondary;
    cursor: pointer;
  }
}
