/**
 * Utility styles
 *
 */

.active {
  border-bottom: 2px solid white;
}

.important-text {
  font-weight: bold;
  color: $project-color-primary;
}

.error-message {
  color: red;
}

.verticalLine {
  width: 2px;
  background-color: lightgray;
}

.center-container {
  width: 90%;
  margin: 0 auto;
}

.child-48 {
  width: 48%;
}

// .margin-bottom{
//   20px
// }
